<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703131294804-lq0vpmcuv4f36558rmieqv6fe5e0q1o6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703131294804-lq0vpmcuv4f36558rmieqv6fe5e0q1o6</string>
	<key>API_KEY</key>
	<string>AIzaSyCsc-rSjIxw1n252mcshYqvL7piwJnqTQo</string>
	<key>GCM_SENDER_ID</key>
	<string>703131294804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.start</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-7a4b8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-7a4b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703131294804:ios:38b9ba890d46d28edd21c1</string>
</dict>
</plist>